main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: antiquewhite;
}
.curso {
  background-color: aquamarine;
}
.c1 {
  color: brown;
}
.c2 {
  color: blueviolet;
  text-transform: uppercase;
}
.fundo {
  text-align: center;
  margin-bottom: 5px;
  background-color: #252525;
  color: aliceblue;
  width: 300px;
  border: 2px solid red;
  border-radius: 20em;
}
.addViaTarget {
  background-color: aliceblue;
  color: #252525;
}

/* ############# */

.newDivClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.newDivClass .newClass {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  color: white;
  background-color: rgb(121, 77, 20);
  border-radius: 5px;
}
.newDivClass .newClass img {
  width: 20px;
  filter: invert(1);
  cursor: pointer;
}

.article {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 50px 10px;
  background-color: #252525;
  color: aliceblue;
  border-radius: 10px;
}

#array,
#pesquisar,
#resultado {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding-left: 10px;
}
#pesquisar {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px 0px;
  padding: 20px 10px;
  gap: 5px;
  border-color: green;
}
input {
  border: none;
  line-height: 2;
}
#button {
  border: 1px solid #ffffff;
  padding: 10px;
}
#resultado {
  border-color: orange;
}
/* .

 */
